@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,700&display=swap');

:root{
    --black:black;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 120%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: black;
}

html::-webkit-scrollbar-thumb{
    background-color: white;

}

.section{
    padding: 50px;
}
@keyframes fadeIn {
    0%{
    transform: scale(0.5s);
    opacity: 0;
    }
}


.btn{
    display: inline-block;
    background: black;
    color: yellowgreen;
    font-size: 100%;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: aquamarine;
}

.heading-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 150%;
    text-transform: uppercase;
    color: red;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: orange;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 140%;
    color: black;
}

.header .navbar a{
    font-size: 100%;
    color: black;
    margin-left: 30px;
    margin-right: 20px;
    letter-spacing: 3px;
}

.header .navbar a:hover{
    color: brown;
 
}

#menu-btn{
    font-size: 90%;
    color: black;
    cursor: pointer;
    display: none;
}

.home{
    padding: 0;
}

.home .swiper-slide{
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 500px;
    
}

.home .swiper-slide .content{
    width: 500px;
    display: none;

}

.home .swiper-slide .content span{
    color: rgb(194, 20, 20);
    font-size: 100%;
    padding-bottom: 50px;
    animation:fadeIn .4s linear backwards .2s;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .swiper-slide .content h3{
    color: orange;
    font-size: 300%;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 5px;
    animation:fadeIn .4s linear backwards .4s;
}

.home .swiper-slide .content .btn{
    animation:fadeIn .4s linear backwards .6s;  
}

.home .swiper-button-next,
.home .swiper-button-prev{
    top:inherit;
    left:inherit;
    bottom: 0;
    right: 0;
    background: white;
    color: black;
    height: 50px;
    width: 50px;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: red;
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 100%
}

.home .swiper-button-prev{
    right:inherit;
    
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(10rem, 1fr));
    gap: 3rem;
 
}

.services .box-container .box {
    padding: 10px 5px;
    text-align: center;
    background: rgb(17, 112, 206);
    margin-bottom: 30px;

}

.services .box-container .box h3:hover{
    color: brown;
    cursor: pointer;
} 

.services .box-container .box img{
    height: 150px;
    width: 150px;
}

.services .box-container .box h3{
    color: bisque;
    font-size: 100%;
    padding-top: 4px;
}



.footer{
    background: url(../images/travel3.jpeg) no-repeat;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(10rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    font-size: 90%;
    color: brown;
    padding-bottom: 20px;

}

.footer .box-container .box a{
    font-size: 90%;
    color: black;
    padding-bottom: 1rem;
    display: block;

}

.footer .box-container .box a i{
    color: orange;
    padding-right: 5px;
}

.footer .box-container .box a:hover i{
    color: white;
    padding-right: 5px;
    
}

.footer .credit{
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid black;
    color: red;
    font-size: 80%;
}